page-home {

}

*{
    box-sizing: border-box;
    margin:0px;
}

h1{
    margin: 0px;
}


.item-inner{
    input{
        width: 60%;
        border: 0px;
        text-align: right;
        float: right;
    }
}

